<a href="https://colab.research.google.com/github/BKVOneLove/MachineLearning/blob/main/lab1/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание по практике 1

##Загрузка датасета
В файле classification datasets расположены ссылки на датасеты. Выберите один в соответствии со своим вариантом, скачайте и прочитайте файл

**Не забудьте загрузить нужные библиотеки**

Например: pip3 install pandas

In [75]:
import pandas as pd

In [76]:
df = pd.read_csv("/content/Global YouTube Statistics.csv", encoding='unicode_escape')
df

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

##Первое знакомство с датасетом
В следующих ячейках выведите:


1.   Колонки датасета
2.   Первые 5 значений
3.   Последние 5 значений
4.   Статистику по числовым колонкам

In [77]:
df.columns

Index(['rank', 'Youtuber', 'subscribers', 'video views', 'category', 'Title',
       'uploads', 'Country', 'Abbreviation', 'channel_type',
       'video_views_rank', 'country_rank', 'channel_type_rank',
       'video_views_for_the_last_30_days', 'lowest_monthly_earnings',
       'highest_monthly_earnings', 'lowest_yearly_earnings',
       'highest_yearly_earnings', 'subscribers_for_last_30_days',
       'created_year', 'created_month', 'created_date',
       'Gross tertiary education enrollment (%)', 'Population',
       'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude'],
      dtype='object')

In [78]:
df[:5]

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [79]:
df.tail()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
990,991,Natan por Aï¿,12300000,9.029610e+09,Sports,Natan por Aï¿,1200,Brazil,BR,Entertainment,...,700000.0,2017.0,Feb,12.0,51.3,2.125594e+08,12.08,183241641.0,-14.235004,-51.925280
991,992,Free Fire India Official,12300000,1.674410e+09,People & Blogs,Free Fire India Official,1500,India,IN,Games,...,300000.0,2018.0,Sep,14.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
992,993,Panda,12300000,2.214684e+09,NaN,HybridPanda,2452,United Kingdom,GB,Games,...,1000.0,2006.0,Sep,11.0,60.0,6.683440e+07,3.85,55908316.0,55.378051,-3.435973
993,994,RobTopGames,12300000,3.741235e+08,Gaming,RobTopGames,39,Sweden,SE,Games,...,100000.0,2012.0,May,9.0,67.0,1.028545e+07,6.48,9021165.0,60.128161,18.643501
994,995,Make Joke Of,12300000,2.129774e+09,Comedy,Make Joke Of,62,India,IN,Comedy,...,100000.0,2017.0,Aug,1.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

In [80]:
stat = df.describe()
stat

,rank,subscribers,video views,uploads,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,...,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
count,995.00000,9.950000e+02,9.950000e+02,995.000000,9.940000e+02,879.000000,962.000000,9.390000e+02,995.000000,9.950000e+02,...,9.950000e+02,6.580000e+02,990.000000,990.000000,872.000000,8.720000e+02,872.000000,8.720000e+02,872.000000,872.000000
mean,498.00000,2.298241e+07,1.103954e+10,9187.125628,5.542489e+05,386.053470,745.719335,1.756103e+08,36886.148281,5.898078e+05,...,7.081814e+06,3.490791e+05,2012.630303,15.746465,63.627752,4.303873e+08,9.279278,2.242150e+08,26.632783,-14.128146
std,287.37606,1.752611e+07,1.411084e+10,34151.352254,1.362782e+06,1232.244746,1944.386561,4.163782e+08,71858.724092,1.148622e+06,...,1.379704e+07,6.143554e+05,4.512503,8.777520,26.106893,4.727947e+08,4.888354,1.546874e+08,20.560533,84.760809
min,1.00000,1.230000e+07,0.000000e+00,0.000000,1.000000e+00,1.000000,1.000000,1.000000e+00,0.000000,0.000000e+00,...,0.000000e+00,1.000000e+00,1970.000000,1.000000,7.600000,2.025060e+05,0.750000,3.558800e+04,-38.416097,-172.104629
25%,249.50000,1.450000e+07,4.288145e+09,194.500000,3.230000e+02,11.000000,27.000000,2.013750e+07,2700.000000,4.350000e+04,...,5.217500e+05,1.000000e+05,2009.000000,8.000000,36.300000,8.335541e+07,5.270000,5.590832e+07,20.593684,-95.712891
50%,498.00000,1.770000e+07,7.760820e+09,729.000000,9.155000e+02,51.000000,65.500000,6.408500e+07,13300.000000,2.127000e+05,...,2.600000e+06,2.000000e+05,2013.000000,16.000000,68.000000,3.282395e+08,9.365000,2.706630e+08,37.090240,-51.925280
75%,746.50000,2.460000e+07,1.355470e+10,2667.500000,3.584500e+03,123.000000,139.750000,1.688265e+08,37900.000000,6.068000e+05,...,7.300000e+06,4.000000e+05,2016.000000,23.000000,88.200000,3.282395e+08,14.700000,2.706630e+08,37.090240,78.962880
max,995.00000,2.450000e+08,2.280000e+11,301308.000000,4.057944e+06,7741.000000,7741.000000,6.589000e+09,850900.000000,1.360000e+07,...,1.634000e+08,8.000000e+06,2022.000000,31.000000,113.100000,1.397715e+09,14.720000,8.429340e+08,61.924110,138.252924

**Ответьте на следующие вопросы:**


1.   Какие средние значения в каждой числовой колонке вашего датасета?

In [81]:
stat.loc[['mean']]

,rank,subscribers,video views,uploads,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,...,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
mean,498.0,2.298241e+07,1.103954e+10,9187.125628,554248.904427,386.05347,745.719335,1.756103e+08,36886.148281,589807.847588,...,7.081814e+06,349079.132219,2012.630303,15.746465,63.627752,4.303873e+08,9.279278,2.242150e+08,26.632783,-14.128146

2.   Минимальные и максимальные значения в каждой числовой колонке вашего датасета

In [82]:
stat.loc[['min', 'max']]

,rank,subscribers,video views,uploads,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,...,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
min,1.0,12300000.0,0.000000e+00,0.0,1.0,1.0,1.0,1.000000e+00,0.0,0.0,...,0.0,1.0,1970.0,1.0,7.6,2.025060e+05,0.75,35588.0,-38.416097,-172.104629
max,995.0,245000000.0,2.280000e+11,301308.0,4057944.0,7741.0,7741.0,6.589000e+09,850900.0,13600000.0,...,163400000.0,8000000.0,2022.0,31.0,113.1,1.397715e+09,14.72,842933962.0,61.924110,138.252924

##Типизация
Присвойте соответствующим колонкам один из типов (category, float, int)

In [83]:
df['rank'] = df['rank'].astype("int64")
#df['Youtuber'] = df['Youtuber'].astype("category")
df['subscribers'] = df['subscribers'].astype("int64")
df['video views'] = df['video views'].astype("int64")
df['category'] = df['category'].astype("category")
#df['Title'] = df['Title'].astype("category")
df['uploads'] = df['uploads'].astype("int64")
df['Country'] = df['Country'].astype("category")
df['Abbreviation'] = df['Abbreviation'].astype("category")
df['re'] = df['channel_type'].astype("category")
#df['video_views_rank'] = df['video_views_rank'].astype("int64")
#df['country_rank'] = df['country_rank'].astype("int64")
#df['channel_type_rank'] = df['channel_type_rank'].astype("int64")
#df['video_views_for_the_last_30_days'] = df['video_views_for_the_last_30_days'].astype("int64")
df['lowest_monthly_earnings'] = df['lowest_monthly_earnings'].astype("float64")
df['highest_yearly_earnings'] = df['highest_yearly_earnings'].astype("float64")
df['lowest_yearly_earnings'] = df['lowest_yearly_earnings'].astype("float64")
df['highest_monthly_earnings'] = df['highest_monthly_earnings'].astype("float64")
#df['subscribers_for_last_30_days'] = df['subscribers_for_last_30_days'].astype("int64")
df['created_year'] = df['created_year'].astype("category")
df['created_month'] = df['created_month'].astype("category")
df['created_date'] = df['created_date'].astype("category")
#df['Gross tertiary education enrollment (%)'] = df['Gross tertiary education enrollment (%)'].astype("int64")
df['Population'] = df['Population'].astype("float64")
df['Unemployment rate'] = df['Unemployment rate'].astype("float64")
df['Urban_population'] = df['Urban_population'].astype("float64")
df['Latitude'] = df['Latitude'].astype("float64")
df['Longitude'] = df['Longitude'].astype("float64")


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 29 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   rank                                     995 non-null    int64
 1   Youtuber                                 995 non-null    object
 2   subscribers                              995 non-null    int64
 3   video views                              995 non-null    int64
 4   category                                 949 non-null    category
 5   Title                                    995 non-null    object
 6   uploads                                  995 non-null    int64
 7   Country                                  873 non-null    category
 8   Abbreviation                             873 non-null    category
 9   channel_type                             965 non-null    object
 10  video_views_rank                         994 non-null    float64
 11  country_rank                             879 non-null    float64
 12  channel_type_rank                        962 non-null    float64
 13  video_views_for_the_last_30_days         939 non-null    float64
 14  lowest_monthly_earnings                  995 non-null    float64
 15  highest_monthly_earnings                 995 non-null    float64
 16  lowest_yearly_earnings                   995 non-null    float64
 17  highest_yearly_earnings                  995 non-null    float64
 18  subscribers_for_last_30_days             658 non-null    float64
 19  created_year                             990 non-null    category
 20  created_month                            990 non-null    category
 21  created_date                             990 non-null    category
 22  Gross tertiary education enrollment (%)  872 non-null    float64
 23  Population                               872 non-null    float64
 24  Unemployment rate                        872 non-null    float64
 25  Urban_population                         872 non-null    float64
 26  Latitude                                 872 non-null    float64
 27  Longitude                                872 non-null    float64
 28  re                                       965 non-null    category
dtypes: category(7), float64(15), int64(4), object(3)
memory usage: 184.5+ KB

Какие признаки вы можете выделить в своем датасете (категориальные, числовые и др., **минимум 3 разных**, помните что можно также выделить признаки более точно, например числовые - порядковые, количественные и т.д.)?

##Фильтрация
Офильтруйте 3 колонки вашего датасета и выведите результат

In [84]:
df[df['rank']>100].head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude,re
100,101,PowerKids TV,36500000,18961241905,Film & Animation,PowerKids TV,5621,NaN,NaN,Film,...,2014.0,Aug,6.0,NaN,NaN,NaN,NaN,NaN,NaN,Film
101,102,YouTube,36300000,3010784935,News & Politics,YouTube,744,United States,US,Entertainment,...,1970.0,Jan,1.0,88.2,328239523.0,14.7,270663028.0,37.09024,-95.712891,Entertainment
102,103,News,36300000,0,NaN,News,0,NaN,NaN,NaN,...,2013.0,Sep,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,104,Ozuna,36200000,23355801606,Music,Ozuna,196,NaN,NaN,Music,...,2016.0,Mar,24.0,NaN,NaN,NaN,NaN,NaN,NaN,Music
104,105,MrBeast Gaming,36100000,6331332547,Gaming,MrBeastGaming,5,NaN,NaN,Comedy,...,2011.0,Feb,26.0,NaN,NaN,NaN,NaN,NaN,NaN,Comedy

In [85]:
df[df['created_year']==2007].head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude,re
11,12,WWE,96000000,77428473662,Sports,WWE,70127,United States,US,Sports,...,2007.0,May,11.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891,Sports
15,16,Sony SAB,83000000,101000000000,Shows,Sony SAB,71270,India,IN,Entertainment,...,2007.0,Aug,4.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880,Entertainment
19,20,Justin Bieber,71600000,30608119724,Music,Justin Bieber,249,Canada,CA,Music,...,2007.0,Jan,15.0,68.9,3.699198e+07,5.56,30628482.0,56.130366,-106.346771,Music
30,31,Tips Official,59300000,33431802698,Music,Tips Official,4741,India,IN,Music,...,2007.0,May,22.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880,Music
35,36,EminemMusic,56900000,27073872856,Music,EminemMusic,156,United States,US,Music,...,2007.0,Feb,9.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891,Music

In [86]:
df[df['video_views_for_the_last_30_days']<10].head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude,re
16,17,5-Minute Crafts,80100000,26236790209,Howto & Style,5-Minute Crafts 2.0,1,United Kingdom,GB,Entertainment,...,2020.0,Jul,27.0,60.0,66834405.0,3.85,55908316.0,55.378051,-3.435973,Entertainment
51,52,Bad Bunny,46100000,30686342319,Music,badbunny,1,NaN,NaN,Sports,...,2005.0,Nov,15.0,NaN,NaN,NaN,NaN,NaN,NaN,Sports
62,63,HolaSoyGerman.,43600000,4831311245,Entertainment,holasoygerman. 2,6,NaN,NaN,People,...,2016.0,May,27.0,NaN,NaN,NaN,NaN,NaN,NaN,People
75,76,Toys and Colors,40300000,47005053156,Entertainment,Toys and colors,4,NaN,NaN,People,...,2018.0,Jun,14.0,NaN,NaN,NaN,NaN,NaN,NaN,People
77,78,LUCCAS NETO - LUCCAS TOON,39400000,22302547082,People & Blogs,LUCCAS NETO- LUCCAS TOON,1,NaN,NaN,Games,...,2021.0,Mar,25.0,NaN,NaN,NaN,NaN,NaN,NaN,Games

##Группировка
Сгруппируйте датасет по какому-либо категориальному признаку и выведите среднее значение численных колонок (см. метод mean в pandas)

In [87]:
df.groupby(["channel_type"]).mean()

<ipython-input-87-bac6a7c143ce>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(["channel_type"]).mean()

,rank,subscribers,video views,uploads,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
channel_type,,,,,,,,,,,,,,,,,,,
Animals,478.000000,1.953333e+07,1.471175e+10,14289.333333,5.500000e+02,113.333333,2.000000,7.073477e+08,176566.666667,2.833333e+06,2.133333e+06,3.390000e+07,766666.666667,88.200000,3.282395e+08,14.700000,2.706630e+08,37.090240,-95.712891
Autos,533.333333,2.146667e+07,6.525849e+09,316.333333,2.508626e+06,1757.500000,2391.333333,1.177538e+08,29433.543333,4.666701e+05,3.666691e+05,5.666707e+06,166670.333333,50.000000,6.799855e+07,2.320000,6.213108e+07,29.814450,96.050371
Comedy,517.843137,2.085686e+07,8.885109e+09,1602.392157,3.765468e+05,244.312500,360.520000,1.959336e+08,46682.860980,7.444748e+05,5.595512e+05,8.963068e+06,439397.030303,60.097917,4.965860e+08,9.366042,2.438706e+08,25.334420,-20.330160
Education,467.061224,2.653469e+07,1.560828e+10,2986.836735,9.103690e+04,70.148936,123.102041,1.881819e+08,47048.979592,7.542673e+05,5.638102e+05,9.034639e+06,297500.000000,60.048936,6.482690e+08,9.308511,2.956988e+08,28.517139,-14.707510
Entertainment,499.226974,2.277138e+07,1.109175e+10,11003.404605,2.374845e+05,279.270833,464.671053,2.128728e+08,43972.672007,7.027955e+05,5.271333e+05,8.443108e+06,449466.570732,63.101042,3.964799e+08,9.196840,2.173039e+08,26.615776,-11.795787
Film,462.404762,2.296190e+07,1.093435e+10,2729.857143,4.911974e+05,390.555556,646.809524,1.405741e+08,29086.429524,4.646072e+05,3.483524e+05,5.582405e+06,320618.558824,55.448571,6.168089e+08,8.633143,2.824808e+08,24.901150,-4.722806
Games,547.908163,2.154694e+07,7.414359e+09,4076.255102,8.711942e+05,816.137931,1448.806122,1.048548e+08,21939.755408,3.522757e+05,2.622124e+05,4.207925e+06,296776.966667,71.656977,2.334089e+08,9.572558,1.512227e+08,27.958872,-25.385644
Howto,597.000000,1.803056e+07,5.434740e+09,2206.027778,3.280444e+03,79.656250,23.416667,5.908990e+07,14773.027778,2.356722e+05,1.781444e+05,2.840464e+06,237500.000000,62.650000,5.108606e+08,9.395625,2.648394e+08,22.487535,-19.891828
Music,432.041667,2.671991e+07,1.505897e+10,1967.361111,3.653287e+05,315.356784,591.929907,1.787264e+08,35798.323657,5.715817e+05,4.290550e+05,6.875110e+06,212576.632353,66.064286,4.335750e+08,10.183010,2.303639e+08,27.601828,-26.913054
News,527.733333,2.039000e+07,1.037843e+10,132971.700000,3.374914e+05,213.551724,288.433333,1.810388e+08,43756.875000,7.016400e+05,5.277525e+05,8.393373e+06,270384.615385,41.562069,7.392558e+08,5.450000,2.798368e+08,24.176995,64.744325
Nonprofit,314.000000,2.775000e+07,5.431456e+09,102912.000000,1.537500e+03,27.000000,1.500000,9.759050e+07,24400.000000,3.904000e+05,2.927500e+05,4.700000e+06,250000.000000,69.750000,2.703995e+08,13.390000,2.269523e+08,11.427618,-73.819085
People,569.831683,1.933960e+07,8.771476e+09,1162.613861,1.209192e+06,577.295775,2239.594059,1.811301e+08,42235.241980,6.757054e+05,5.064998e+05,8.106875e+06,496902.968254,65.252857,3.640423e+08,8.591000,2.012346e+08,23.505056,-7.296145
Sports,506.000000,2.780769e+07,1.393115e+10,12230.384615,6.085672e+05,674.916667,695.615385,1.637304e+08,40938.461538,6.597154e+05,4.870923e+05,7.866638e+06,490000.100000,83.891667,1.812543e+08,11.358333,1.494116e+08,36.709898,-35.380468
Tech,525.823529,1.887059e+07,3.491502e+09,1987.058824,2.421098e+05,65.266667,254.176471,5.508947e+07,13782.352941,2.203588e+05,1.652824e+05,2.635200e+06,228571.428571,56.046667,6.631983e+08,8.070000,2.849049e+08,31.766169,-11.111837

##Задание для гениев *
Агрегируйте числовой признак по категориальному признаку с использованием метода **без использования** библиотеки pandas, и вычислите медиану и среднее значение для каждой категории.

In [92]:
import csv

category_name = 'channel_type'
non_number = ['Youtuber',
               'category',
               'Title',
               'Country',
               'Abbreviation',
               'channel_type',
               'created_year',
               'created_month',
               'created_date']

with open("/content/Global YouTube Statistics.csv", encoding='unicode_escape') as f:
    reader = csv.reader(f)
    headers = next(reader)
    aggregate_data = []
    cat_types = {}
    cat_index = int()
    for i in range(len(headers)):
      if headers[i] == category_name:
        cat_index = i
        break

    for row in reader:
        if len(row) == len(headers):
            for i in range(len(row)):
                try:
                    if headers[i] in non_number:
                        continue

                    value = float(row[i])

                    cat_type = row[cat_index]
                    category = headers[i]

                    if cat_type not in cat_types:
                        cat_types[cat_type] = len(cat_types)
                        aggregate_data.append({})



                    if category in aggregate_data[cat_types[cat_type]]:
                        aggregate_data[cat_types[cat_type]][category].append(value)
                    else:
                         aggregate_data[cat_types[cat_type]][category] = [value]


                except ValueError:
                    continue
        else:
            continue

for i in range(len(aggregate_data)):
    print('***************************')
    print(f'Channel_type: {list(cat_types.keys())[i]}')
    print('---')
    for category, values in aggregate_data[i].items():
        median = sorted(values)[len(values) // 2]
        mean = sum(values) / len(values)
        print(f'Category: {category}')
        print(f'Median: {median}')
        print(f'Mean: {mean}')
        print('---')

***************************
Channel_type: Music
---
Category: rank
Median: 406.0
Mean: 432.0416666666667
---
Category: subscribers
Median: 20000000.0
Mean: 26719907.407407407
---
Category: video views
Median: 12140232004.0
Mean: 15058965061.166666
---
Category: uploads
Median: 267.0
Mean: 1967.361111111111
---
Category: video_views_rank
Median: 385.0
Mean: 365328.711627907
---
Category: country_rank
Median: 38.0
Mean: nan
---
Category: channel_type_rank
Median: 106.0
Mean: nan
---
Category: video_views_for_the_last_30_days
Median: 101357000.0
Mean: nan
---
Category: lowest_monthly_earnings
Median: 22600.0
Mean: 35798.32365740741
---
Category: highest_monthly_earnings
Median: 361800.0
Mean: 571581.7175462963
---
Category: lowest_yearly_earnings
Median: 271300.0
Mean: 429055.04046296293
---
Category: highest_yearly_earnings
Median: 4300000.0
Mean: 6875110.274074073
---
Category: subscribers_for_last_30_days
Median: 100000.0
Mean: nan
---
Category: Gross tertiary education enrollment (%)
Median: 7.6
Mean: nan
---
Category: Population
Median: 44938712.0
Mean: nan
---
Category: Unemployment rate
Median: 0.75
Mean: nan
---
Category: Urban_population
Median: 35294600.0
Mean: nan
---
Category: Latitude
Median: 20.593684
Mean: nan
---
Category: Longitude
Median: -95.712891
Mean: nan
---
***************************
Channel_type: Games
---
Category: rank
Median: 580.0
Mean: 547.9081632653061
---
Category: subscribers
Median: 16600000.0
Mean: 21546938.775510203
---
Category: video views
Median: 5689224452.0
Mean: 7414358687.479591
---
Category: uploads
Median: 1640.0
Mean: 4076.2551020408164
---
Category: video_views_rank
Median: 1954.0
Mean: 871194.2448979592
---
Category: country_rank
Median: 1.0
Mean: nan
---
Category: channel_type_rank
Median: 49.0
Mean: 1448.8061224489795
---
Category: video_views_for_the_last_30_days
Median: 4698000.0
Mean: nan
---
Category: lowest_monthly_earnings
Median: 9600.0
Mean: 21939.75540816327
---
Category: highest_monthly_earnings
Median: 153100.0
Mean: 352275.7192857142
---
Category: lowest_yearly_earnings
Median: 114800.0
Mean: 262212.40183673473
---
Category: highest_yearly_earnings
Median: 1800000.0
Mean: 4207924.547755102
---
Category: subscribers_for_last_30_days
Median: 200000.0
Mean: nan
---
Category: Gross tertiary education enrollment (%)
Median: 36.3
Mean: nan
---
Category: Population
Median: 10285453.0
Mean: nan
---
Category: Unemployment rate
Median: 3.2
Mean: nan
---
Category: Urban_population
Median: 9021165.0
Mean: nan
---
Category: Latitude
Median: -38.416097
Mean: nan
---
Category: Longitude
Median: -106.346771
Mean: nan
---
***************************
Channel_type: Entertainment
---
Category: rank
Median: 500.0
Mean: 499.2269736842105
---
Category: subscribers
Median: 17900000.0
Mean: 22771381.57894737
---
Category: video views
Median: 7657171980.0
Mean: 11091753573.085526
---
Category: uploads
Median: 876.0
Mean: 11003.404605263158
---
Category: video_views_rank
Median: 797.0
Mean: 237484.49013157896
---
Category: country_rank
Median: 1.0
Mean: nan
---
Category: channel_type_rank
Median: 129.0
Mean: 464.67105263157896
---
Category: video_views_for_the_last_30_days
Median: 102357000.0
Mean: nan
---
Category: lowest_monthly_earnings
Median: 12400.0
Mean: 43972.67200657894
---
Category: highest_monthly_earnings
Median: 197600.0
Mean: 702795.4586184211
---
Category: lowest_yearly_earnings
Median: 148200.0
Mean: 527133.3489473683
---
Category: highest_yearly_earnings
Median: 2400000.0
Mean: 8443107.881973684
---
Category: subscribers_for_last_30_days
Median: 100000.0
Mean: nan
---
Category: Gross tertiary education enrollment (%)
Median: 20.6
Mean: nan
---
Category: Population
Median: 5703569.0
Mean: nan
---
Category: Unemployment rate
Median: 0.75
Mean: nan
---
Category: Urban_population
Median: 5703569.0
Mean: nan
---
Category: Latitude
Median: -14.235004
Mean: nan
---
Category: Longitude
Median: -102.552784
Mean: nan
---
***************************
Channel_type: Education
---
Category: rank
Median: 443.0
Mean: 467.0612244897959
---
Category: subscribers
Median: 18800000.0
Mean: 26534693.87755102
---
Category: video views
Median: 8984089026.0
Mean: 15608284350.428572
---
Category: uploads
Median: 847.0
Mean: 2986.8367346938776
---
Category: video_views_rank
Median: 538.0
Mean: 91036.89795918367
---
Category: country_rank
Median: 69.0
Mean: nan
---
Category: channel_type_rank
Median: 26.0
Mean: 123.10204081632654
---
Category: video_views_for_the_last_30_days
Median: 109828000.0
Mean: 188181918.3877551
---
Category: lowest_monthly_earnings
Median: 27500.0
Mean: 47048.97959183674
---
Category: highest_monthly_earnings
Median: 439300.0
Mean: 754267.3469387755
---
Category: lowest_yearly_earnings
Median: 329500.0
Mean: 563810.2040816327
---
Category: highest_yearly_earnings
Median: 5300000.0
Mean: 9034638.776530612
---
Category: subscribers_for_last_30_days
Median: 300000.0
Mean: nan
---
Category: Gross tertiary education enrollment (%)
Median: 70.2
Mean: nan
---
Category: Population
Median: 1366417754.0
Mean: nan
---
Category: Unemployment rate
Median: 12.08
Mean: nan
---
Category: Urban_population
Median: 471031528.0
Mean: nan
---
Category: Latitude
Median: 37.09024
Mean: nan
---
Category: Longitude
Median: -3.74922
Mean: nan
---
***************************
Channel_type: People
---
Category: rank
Median: 553.0
Mean: 569.8316831683169
---
Category: subscribers
Median: 16700000.0
Mean: 19339603.96039604
---
Category: video views
Median: 6543629679.0
Mean: 8771476334.574257
---
Category: uploads
Median: 493.0
Mean: 1162.6138613861385
---
Category: video_views_rank
Median: 1868.0
Mean: 1209191.7722772278
---
Category: country_rank
Median: nan
Mean: nan
---
Category: channel_type_rank
Median: 51.0
Mean: 2239.5940594059407
---
Category: video_views_for_the_last_30_days
Median: nan
Mean: nan
---
Category: lowest_monthly_earnings
Median: 4000.0
Mean: 42235.241980198014
---
Category: highest_monthly_earnings
Median: 64500.0
Mean: 675705.3651485149
---
Category: lowest_yearly_earnings
Median: 48400.0
Mean: 506499.8234653464
---
Category: highest_yearly_earnings
Median: 773600.0
Mean: 8106875.053168315
---
Category: subscribers_for_last_30_days
Median: nan
Mean: nan
---
Category: Gross tertiary education enrollment (%)
Median: nan
Mean: nan
---
Category: Population
Median: nan
Mean: nan
---
Category: Unemployment rate
Median: nan
Mean: nan
---
Category: Urban_population
Median: nan
Mean: nan
---
Category: Latitude
Median: nan
Mean: nan
---
Category: Longitude
Median: nan
Mean: nan
---
***************************
Channel_type: Sports
---
Category: rank
Median: 568.0
Mean: 506.0
---
Category: subscribers
Median: 16400000.0
Mean: 27807692.307692308
---
Category: video views
Median: 7135820721.0
Mean: 13931151670.076923
---
Category: uploads
Median: 777.0
Mean: 12230.384615384615
---
Category: video_views_rank
Median: 1186.0
Mean: 608567.2307692308
---
Category: country_rank
Median: 11.0
Mean: nan
---
Category: channel_type_rank
Median: 8.0
Mean: 695.6153846153846
---
Category: video_views_for_the_last_30_days
Median: 73025000.0
Mean: 163730384.92307693
---
Category: lowest_monthly_earnings
Median: 18300.0
Mean: 40938.46153846154
---
Category: highest_monthly_earnings
Median: 292100.0
Mean: 659715.3853846154
---
Category: lowest_yearly_earnings
Median: 219100.0
Mean: 487092.30846153846
---
Category: highest_yearly_earnings
Median: 3500000.0
Mean: 7866638.476153846
---
Category: subscribers_for_last_30_days
Median: 100000.0
Mean: nan
---
Category: Gross tertiary education enrollment (%)
Median: 88.2
Mean: nan
---
Category: Population
Median: 47076781.0
Mean: nan
---
Category: Unemployment rate
Median: 6.48
Mean: nan
---
Category: Urban_population
Median: 37927409.0
Mean: nan
---
Category: Latitude
Median: 37.09024
Mean: nan
---
Category: Longitude
Median: -95.712891
Mean: nan
---
***************************
Channel_type: Film
---
Category: rank
Median: 432.0
Mean: 462.4047619047619
---
Category: subscribers
Median: 20100000.0
Mean: 22961904.76190476
---
Category: video views
Median: 8603468420.0
Mean: 10934351185.880953
---
Category: uploads
Median: 1097.0
Mean: 2729.8571428571427
---
Category: video_views_rank
Median: 903.0
Mean: 491197.40476190473
---
Category: country_rank
Median: 61.0
Mean: nan
---
Category: channel_type_rank
Median: 31.0
Mean: 646.8095238095239
---
Category: video_views_for_the_last_30_days
Median: 94853000.0
Mean: nan
---
Category: lowest_monthly_earnings
Median: 16500.0
Mean: 29086.429523809526
---
Category: highest_monthly_earnings
Median: 263700.0
Mean: 464607.1540476191
---
Category: lowest_yearly_earnings
Median: 197800.0
Mean: 348352.3895238095
---
Category: highest_yearly_earnings
Median: 3200000.0
Mean: 5582404.883333333
---
Category: subscribers_for_last_30_days
Median: 300000.0
Mean: nan
---
Category: Gross tertiary education enrollment (%)
Median: 81.9
Mean: nan
---
Category: Population
Median: 1366417754.0
Mean: nan
---
Category: Unemployment rate
Median: 12.08
Mean: nan
---
Category: Urban_population
Median: 471031528.0
Mean: nan
---
Category: Latitude
Median: 37.09024
Mean: nan
---
Category: Longitude
Median: 78.96288
Mean: nan
---
***************************
Channel_type: News
---
Category: rank
Median: 587.0
Mean: 527.7333333333333
---
Category: subscribers
Median: 16500000.0
Mean: 20390000.0
---
Category: video views
Median: 10409352249.0
Mean: 10378427263.666666
---
Category: uploads
Median: 151136.0
Mean: 132971.7
---
Category: video_views_rank
Median: 737.0
Mean: 337491.36666666664
---
Category: country_rank
Median: 26.0
Mean: nan
---
Category: channel_type_rank
Median: 16.0
Mean: 288.43333333333334
---
Category: video_views_for_the_last_30_days
Median: 181644000.0
Mean: nan
---
Category: lowest_monthly_earnings
Median: 40800.0
Mean: 43756.875
---
Category: highest_monthly_earnings
Median: 652500.0
Mean: 701640.0
---
Category: lowest_yearly_earnings
Median: 489400.0
Mean: 527752.5
---
Category: highest_yearly_earnings
Median: 7800000.0
Mean: 8393373.2
---
Category: subscribers_for_last_30_days
Median: 230000.0
Mean: nan
---
Category: Gross tertiary education enrollment (%)
Median: 28.1
Mean: nan
---
Category: Population
Median: 1366417754.0
Mean: nan
---
Category: Unemployment rate
Median: 5.36
Mean: nan
---
Category: Urban_population
Median: 471031528.0
Mean: nan
---
Category: Latitude
Median: 20.593684
Mean: nan
---
Category: Longitude
Median: 78.96288
Mean: nan
---
***************************
Channel_type: nan
---
Category: rank
Median: 469.0
Mean: 465.2
---
Category: subscribers
Median: 18400000.0
Mean: 21956666.666666668
---
Category: video views
Median: 7762077012.0
Mean: 8265154707.1
---
Category: uploads
Median: 0.0
Mean: 19.766666666666666
---
Category: video_views_rank
Median: 4057944.0
Mean: 3952712.7666666666
---
Category: country_rank
Median: 3305.0
Mean: nan
---
Category: channel_type_rank
Median: nan
Mean: nan
---
Category: video_views_for_the_last_30_days
Median: nan
Mean: nan
---
Category: lowest_monthly_earnings
Median: 0.0
Mean: 1.3346666666666667
---
Category: highest_monthly_earnings
Median: 0.0
Mean: 21.69066666666667
---
Category: lowest_yearly_earnings
Median: 0.0
Mean: 16.25133333333333
---
Category: highest_yearly_earnings
Median: 0.0
Mean: 258.3626666666667
---
Category: subscribers_for_last_30_days
Median: nan
Mean: nan
---
Category: Gross tertiary education enrollment (%)
Median: nan
Mean: nan
---
Category: Population
Median: nan
Mean: nan
---
Category: Unemployment rate
Median: nan
Mean: nan
---
Category: Urban_population
Median: nan
Mean: nan
---
Category: Latitude
Median: nan
Mean: nan
---
Category: Longitude
Median: nan
Mean: nan
---
***************************
Channel_type: Comedy
---
Category: rank
Median: 452.0
Mean: 517.843137254902
---
Category: subscribers
Median: 18600000.0
Mean: 20856862.74509804
---
Category: video views
Median: 7406628736.0
Mean: 8885109297.19608
---
Category: uploads
Median: 681.0
Mean: 1602.3921568627452
---
Category: video_views_rank
Median: 1033.0
Mean: 376546.76470588235
---
Category: country_rank
Median: 176.0
Mean: nan
---
Category: channel_type_rank
Median: 26.0
Mean: nan
---
Category: video_views_for_the_last_30_days
Median: 49861000.0
Mean: nan
---
Category: lowest_monthly_earnings
Median: 8800.0
Mean: 46682.86098039216
---
Category: highest_monthly_earnings
Median: 140500.0
Mean: 744474.7870588235
---
Category: lowest_yearly_earnings
Median: 105400.0
Mean: 559551.1982352942
---
Category: highest_yearly_earnings
Median: 1700000.0
Mean: 8963068.119607843
---
Category: subscribers_for_last_30_days
Median: 400000.0
Mean: nan
---
Category: Gross tertiary education enrollment (%)
Median: 63.2
Mean: nan
---
Category: Population
Median: 328239523.0
Mean: nan
---
Category: Unemployment rate
Median: 8.43
Mean: nan
---
Category: Urban_population
Median: 270663028.0
Mean: nan
---
Category: Latitude
Median: 33.223191
Mean: nan
---
Category: Longitude
Median: -51.92528
Mean: nan
---
***************************
Channel_type: Howto
---
Category: rank
Median: 638.0
Mean: 597.0
---
Category: subscribers
Median: 15600000.0
Mean: 18030555.555555556
---
Category: video views
Median: 4597228794.0
Mean: 5434739663.611111
---
Category: uploads
Median: 1349.0
Mean: 2206.027777777778
---
Category: video_views_rank
Median: 1597.0
Mean: 3280.4444444444443
---
Category: country_rank
Median: 103.0
Mean: nan
---
Category: channel_type_rank
Median: 23.0
Mean: 23.416666666666668
---
Category: video_views_for_the_last_30_days
Median: 27382000.0
Mean: 59089896.972222224
---
Category: lowest_monthly_earnings
Median: 6800.0
Mean: 14773.027777777777
---
Category: highest_monthly_earnings
Median: 109500.0
Mean: 235672.22222222222
---
Category: lowest_yearly_earnings
Median: 82100.0
Mean: 178144.44444444444
---
Category: highest_yearly_earnings
Median: 1300000.0
Mean: 2840463.888888889
---
Category: subscribers_for_last_30_days
Median: nan
Mean: nan
---
Category: Gross tertiary education enrollment (%)
Median: 82.7
Mean: nan
---
Category: Population
Median: 328239523.0
Mean: nan
---
Category: Unemployment rate
Median: 10.76
Mean: nan
---
Category: Urban_population
Median: 270663028.0
Mean: nan
---
Category: Latitude
Median: 26.820553
Mean: nan
---
Category: Longitude
Median: -51.92528
Mean: nan
---
***************************
Channel_type: Nonprofit
---
Category: rank
Median: 543.0
Mean: 314.0
---
Category: subscribers
Median: 38600000.0
Mean: 27750000.0
---
Category: video views
Median: 7339333120.0
Mean: 5431455892.5
---
Category: uploads
Median: 200933.0
Mean: 102912.0
---
Category: video_views_rank
Median: 2307.0
Mean: 1537.5
---
Category: country_rank
Median: 29.0
Mean: 27.0
---
Category: channel_type_rank
Median: 2.0
Mean: 1.5
---
Category: video_views_for_the_last_30_days
Median: 149543000.0
Mean: 97590500.0
---
Category: lowest_monthly_earnings
Median: 37400.0
Mean: 24400.0
---
Category: highest_monthly_earnings
Median: 598200.0
Mean: 390400.0
---
Category: lowest_yearly_earnings
Median: 448600.0
Mean: 292750.0
---
Category: highest_yearly_earnings
Median: 7200000.0
Mean: 4700000.0
---
Category: subscribers_for_last_30_days
Median: 400000.0
Mean: 250000.0
---
Category: Gross tertiary education enrollment (%)
Median: 88.2
Mean: 69.75
---
Category: Population
Median: 328239523.0
Mean: 270399470.0
---
Category: Unemployment rate
Median: 14.7
Mean: 13.39
---
Category: Urban_population
Median: 270663028.0
Mean: 226952334.5
---
Category: Latitude
Median: 37.09024
Mean: 11.427618
---
Category: Longitude
Median: -51.92528
Mean: -73.8190855
---
***************************
Channel_type: Autos
---
Category: rank
Median: 703.0
Mean: 533.3333333333334
---
Category: subscribers
Median: 14900000.0
Mean: 21466666.666666668
---
Category: video views
Median: 5556364230.0
Mean: 6525848803.333333
---
Category: uploads
Median: 93.0
Mean: 316.3333333333333
---
Category: video_views_rank
Median: 3468229.0
Mean: 2508626.0
---
Category: country_rank
Median: 7.0
Mean: nan
---
Category: channel_type_rank
Median: 3271.0
Mean: 2391.3333333333335
---
Category: video_views_for_the_last_30_days
Median: 2477.0
Mean: 117753843.33333333
---
Category: lowest_monthly_earnings
Median: 0.62
Mean: 29433.543333333335
---
Category: highest_monthly_earnings
Median: 10.0
Mean: 466670.07
---
Category: lowest_yearly_earnings
Median: 7.0
Mean: 366669.0533333333
---
Category: highest_yearly_earnings
Median: 119.0
Mean: 5666707.333333333
---
Category: subscribers_for_last_30_days
Median: 9.0
Mean: 166670.33333333334
---
Category: Gross tertiary education enrollment (%)
Median: 36.8
Mean: nan
---
Category: Population
Median: 9770529.0
Mean: nan
---
Category: Unemployment rate
Median: 2.29
Mean: nan
---
Category: Urban_population
Median: 8479744.0
Mean: nan
---
Category: Latitude
Median: 23.424076
Mean: nan
---
Category: Longitude
Median: 53.847818
Mean: nan
---
***************************
Channel_type: Tech
---
Category: rank
Median: 520.0
Mean: 525.8235294117648
---
Category: subscribers
Median: 17300000.0
Mean: 18870588.23529412
---
Category: video views
Median: 3378047383.0
Mean: 3491502148.7058825
---
Category: uploads
Median: 1411.0
Mean: 1987.0588235294117
---
Category: video_views_rank
Median: 2420.0
Mean: 242109.82352941178
---
Category: country_rank
Median: 74.0
Mean: nan
---
Category: channel_type_rank
Median: 9.0
Mean: 254.1764705882353
---
Category: video_views_for_the_last_30_days
Median: 46484000.0
Mean: 55089470.88235294
---
Category: lowest_monthly_earnings
Median: 11600.0
Mean: 13782.35294117647
---
Category: highest_monthly_earnings
Median: 185900.0
Mean: 220358.82470588235
---
Category: lowest_yearly_earnings
Median: 139500.0
Mean: 165282.35411764705
---
Category: highest_yearly_earnings
Median: 2200000.0
Mean: 2635200.014117647
---
Category: subscribers_for_last_30_days
Median: 100000.0
Mean: nan
---
Category: Gross tertiary education enrollment (%)
Median: 68.9
Mean: nan
---
Category: Population
Median: 328239523.0
Mean: nan
---
Category: Unemployment rate
Median: 5.56
Mean: nan
---
Category: Urban_population
Median: 270663028.0
Mean: nan
---
Category: Latitude
Median: 37.09024
Mean: nan
---
Category: Longitude
Median: 10.451526
Mean: nan
---
***************************
Channel_type: Animals
---
Category: rank
Median: 359.0
Mean: 478.0
---
Category: subscribers
Median: 20900000.0
Mean: 19533333.333333332
---
Category: video views
Median: 18917687143.0
Mean: 14711751867.0
---
Category: uploads
Median: 982.0
Mean: 14289.333333333334
---
Category: video_views_rank
Median: 136.0
Mean: 550.0
---
Category: country_rank
Median: 100.0
Mean: 113.33333333333333
---
Category: channel_type_rank
Median: 2.0
Mean: 2.0
---
Category: video_views_for_the_last_30_days
Median: 755054000.0
Mean: 707347666.6666666
---
Category: lowest_monthly_earnings
Median: 188800.0
Mean: 176566.66666666666
---
Category: highest_monthly_earnings
Median: 3000000.0
Mean: 2833333.3333333335
---
Category: lowest_yearly_earnings
Median: 2300000.0
Mean: 2133333.3333333335
---
Category: highest_yearly_earnings
Median: 36200000.0
Mean: 33900000.0
---
Category: subscribers_for_last_30_days
Median: 1100000.0
Mean: 766666.6666666666
---
Category: Gross tertiary education enrollment (%)
Median: 88.2
Mean: 88.2
---
Category: Population
Median: 328239523.0
Mean: 328239523.0
---
Category: Unemployment rate
Median: 14.7
Mean: 14.699999999999998
---
Category: Urban_population
Median: 270663028.0
Mean: 270663028.0
---
Category: Latitude
Median: 37.09024
Mean: 37.09024
---
Category: Longitude
Median: -95.712891
Mean: -95.712891
---